@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* VARIABLES */
:root {
    --primary: #fff;
    --accent: #eed595; 
    --hover: #96865d; 
    --dark: #222;
    --shadow: 0 0 3rem rgba(0,0,0,0.15);
}

.bg-dark {background: var(--dark);}
.bg-accent {background: var(--accent);}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background: #eee;
}

.btn {
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
    font-size: .9rem;
    background: var(--accent);
    padding: .8rem 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--hover);
    color: var(--primary);
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

li {
    margin: 1rem;
}

/* ---------------- MOBILE SETTINGS ---------------- */ 

/* LANDING PAGE */

.landing-page {
    background-image: url(img/foto4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    padding: 2rem;    
}

.landing-page .logo {
    margin-bottom: 2rem;  
}

.landing-page p {    
    font-size: 1rem;
    text-align: center;
    user-select: none;
    max-width: 80%;
    text-shadow: 0 0 1rem rgba(0,0,0,.7);
    margin-bottom: 2rem;
}

/* NAVIGATION */

header {
    background: var(--dark);    
    width: 100%;
    z-index: 5;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 0.4rem 1rem;
}

.logo-header {
    max-width: 100%;
    cursor: pointer;
}

.nav-toggle { 
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--primary);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--dark);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
}

nav a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--primary);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.15s;
}

.hide {
    display: inline;
}

header a.btn.hide {
    display: none;
}

/* MAIN SECTION */



.hero {
    width: 100%;
    display: block;
}

.container-outer {
    padding: 3rem 0;
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.container h1 {
    color: var(--accent);
    text-transform: uppercase;
    font-size: 1.3rem;    
    line-height: 1;
    text-align: center;
}

.productos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.producto {
    background: var(--primary);
    color: var(--dark);    
    margin-bottom: 2rem;
    padding: 1.5rem 2rem; 
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.producto div {    
    text-align: center;
}

.producto-titulo {
    text-transform: uppercase;
    background: var(--dark);
    padding: 0.3rem;
    color: var(--primary);
}

.producto div p {
    margin-top: 1rem;
}

.producto:nth-child(3) {
    margin-bottom: 0;
}

.producto img {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ---------------- TABLET SETTINGS ---------------- */
@media all and (min-width: 426px) and (max-width: 768px) {
    .landing-page p {    
        font-size: 1.2rem;
        margin-bottom: 2rem;
        max-width: 50%;
    }
}
/* ---------------- LAPTOP SETTINGS ---------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
    .landing-page p {  
        font-size: 1.2rem;  
        max-width: 40%;
    }
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav {        
        all: unset;
    }

    nav ul {
        margin: 0;
    }

    nav li {
        display: inline-block;
    }

    nav li.hide {
        display: none;
    }

    nav a {
        opacity: 1;
        transition: color 0.3s ease-in-out;
    }

    nav a:hover {
        color: var(--hover);
    }

    header a.btn.hide {
        display: inline-block;
    }
}
/* ---------------- DESKTOP SETTINGS ---------------- */
@media all and (min-width: 1025px) {
    .landing-page .logo {
        width: 18%;
    }
    .landing-page p {  
        font-size: 1.2rem;  
        max-width: 20%;
    }
    
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 5rem;
    }

    nav {        
        all: unset;
    }

    nav ul {
        margin: 0;
    }

    nav li {
        display: inline-block;
    }

    nav li.hide {
        display: none;
    }

    nav a {
        opacity: 1;
        transition: color 0.3s ease-in-out;
    }

    nav a:hover {
        color: var(--hover);
    }

    header a.btn.hide {
        display: inline-block;
    }
}

