@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* VARIABLES */
:root {
    --primary: #fff;
    --accent: #eed595; 
    --hover: #96865d; 
    --dark: #333;
    --shadow: 0 0 3rem rgba(0,0,0,0.15);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

body {
    background: #eee;
}

.btn {
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
    font-size: .9rem;
    background: var(--accent);
    padding: .8rem 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--hover);
    color: var(--primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

/* ---------------- MOBILE SETTINGS ---------------- */ 

/* LANDING PAGE */

.landing-page {
    background-image: url(img/foto4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    padding: 2rem;    
}

.landing-page .logo {
    margin-bottom: 2rem;  
}

.landing-page p {    
    font-size: 1rem;
    text-align: center;
    user-select: none;
    max-width: 80%;
    text-shadow: 0 0 1rem rgba(0,0,0,.7);
    margin-bottom: 2rem;
}

header {
    background: var(--dark);
    width: 100%;
}

/* HACER EL HEADER CON EL VIDEO DE KEVIN POWELL */
/* HACER EL HEADER CON EL VIDEO DE KEVIN POWELL */
/* HACER EL HEADER CON EL VIDEO DE KEVIN POWELL */
/* HACER EL HEADER CON EL VIDEO DE KEVIN POWELL */

/* ---------------- TABLET SETTINGS ---------------- */
@media all and (min-width: 426px) and (max-width: 768px) {
    .landing-page p {    
        font-size: 1.2rem;
        margin-bottom: 2rem;
        max-width: 50%;
    }
}
/* ---------------- LAPTOP SETTINGS ---------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
    .landing-page p {  
        font-size: 1.2rem;  
        max-width: 40%;
    }
}
/* ---------------- DESKTOP SETTINGS ---------------- */
@media all and (min-width: 1025px) {
    .landing-page .logo {
        width: 18%;
    }
    .landing-page p {  
        font-size: 1.2rem;  
        max-width: 20%;
    }
}

