@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/* VARIABLES */
:root {
    --primary: #fff;
    --accent: #eed595; 
    --hover: #887955; 
    --dark: #222;
    --shadow: 0 0 3rem rgba(0,0,0,0.15);
}

.bg-dark {background: var(--dark);}
.bg-accent {background: var(--accent);}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background: #eee;
}

.btn {
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
    font-size: .9rem;
    background: var(--accent);
    padding: .8rem 2rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: var(--hover);
    color: var(--primary);
}

ul {
    list-style: none;
    margin-bottom: 1rem;
}

li {
    margin: 1rem;
}

/* ---------------- MOBILE SETTINGS ---------------- */ 

/* LANDING PAGE */

.landing-page {
    background-image: url(img/foto4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #333;
    background-blend-mode: multiply;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    padding: 2rem;    
}

.landing-page .logo {
    margin-bottom: 2rem;  
}

.landing-page h2 { 
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 6rem;
}    
.btn-landing {
    text-decoration: none;
    color: var(--primary);
    font-weight: 900;
    font-size: .9rem;
    background: rgba(0, 0, 0, 0.4);
    padding: .8rem 1.5rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;

}

.btn-landing:hover {
    background: var(--dark);
    color: var(--accent);
}

/* NAVIGATION */

header {
    background: var(--dark);    
    width: 100%;
    z-index: 5;
    text-align: center;
    position: sticky;
    top: 0;
    padding: 0.4rem 1rem;
}

.logo-header {
    max-width: 100%;
    cursor: pointer;
}

.nav-toggle { 
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: var(--primary);
    height: 2px;
    width: 2rem;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}


nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: var(--dark);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
}

nav a {
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--primary);
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.15s;
}

.hide {
    display: inline;
}

header a.btn.hide {
    display: none;
}

/* MAIN SECTION */

.hero-container {
    width: 100%;
    height: 50vh;
    background-image: url(img/banner-1-mobile.png);
    background-color: #666;
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;    
}

.hero-inner {
    margin: auto auto auto 0;
    padding: 2rem;
    color: var(--primary);
}

.hero-content {
    width: 80%;
    margin-bottom: 2rem;
}

.hero-content h3 {
    margin-bottom: 0.6rem;
    line-height: 0.9;
    font-size: 1.6rem;
}

.hero-content p {
    line-height: 1.1;
}

.btn-hero {
    text-decoration: none;
    color: var(--dark);
    font-weight: 900;
    font-size: .8rem;
    background: var(--accent);
    padding: .6rem 1rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn-hero:hover {
    background: var(--hover);
    color: var(--primary);     
}

.btn-hero-secondary {
    text-decoration: none;
    color: var(--accent);
    font-weight: 900;
    font-size: .8rem;
    background: rgba(0, 0, 0, 0.4);
    padding: .6rem 1rem;
    text-transform: uppercase;
    border-radius: 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.btn-hero-secondary:hover {
    background: var(--dark);
    color: var(--accent);
}

.container {
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.destacados {
    padding: 2rem 0;
    color: var(--accent);
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
}

.productos {    
    padding: 5rem 0;
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.producto {
    background: var(--primary);
    color: var(--dark);   
    text-align: center; 
    margin-bottom: 2rem;
    padding: 1.5rem 2rem; 
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.producto-titulo {
    text-transform: uppercase;
    background: var(--dark);
    padding: 0.3rem;
    color: var(--primary);
}

.producto div p {
    margin-top: 1rem;
}

.producto:nth-child(3) {
    margin-bottom: 0;
}

.producto img {
    max-width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* ---------------- TABLET SETTINGS ---------------- */
@media all and (min-width: 426px) and (max-width: 768px) {
    .landing-page h2 { 
        font-size: 1.6rem;
        width: 60%;
        text-align: center;
        margin-bottom: 6rem;
    }    
    /* HERO */
    .hero-container {
        width: 100%;
        height: 50vh;
        background-image: url(img/banner-1-mobile.png), linear-gradient(to right, #111 30%, #222 50%, transparent);
        background-color: #666;
        background-blend-mode: overlay;
        background-position: center 85%;
        background-repeat: no-repeat;
        background-size: center;
        display: flex;    
    }    
    .hero-inner {
        margin: auto auto auto 3rem;
    }    
    .hero-content h3 {
        margin-bottom: 0.6rem;
        line-height: 0.9;
        font-size: 2rem;
    }    
    .btn-hero {
        font-size: .85rem;
        padding: .7rem 1.2rem;
    }    
    .btn-hero-secondary {
        font-size: .85rem;
        padding: .7rem 1.2rem;
    }
    /* MAIN */
    .destacados {
        font-size: 2rem;
        padding: 1rem;
    }
}
/* ---------------- LAPTOP SETTINGS ---------------- */
@media all and (min-width: 769px) and (max-width: 1024px) {
    .landing-page h2 { 
        font-size: 1.6rem;
        width: 50%;
        text-align: center;
        margin-bottom: 6rem;
    }    
    /* NAV */
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2.5rem;
    }
    nav {        
        all: unset;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        display: inline-block;
    }
    nav li.hide {
        display: none;
    }
    nav a {
        opacity: 1;
        transition: color 0.3s ease-in-out;
    }
    nav a:hover {
        color: var(--hover);
    }
    header a.btn.hide {
        display: inline-block;
    }
    /* HERO */
    .hero-container {
        width: 100%;
        height: 50vh;
        background-image: url(img/banner-1-mobile.png), linear-gradient(to right, #111 30%, #222 50%, transparent);
        background-color: #666;
        background-blend-mode: overlay;
        background-position: center 75%;
        background-repeat: no-repeat;
        background-size: center;
        display: flex;    
    }
    .hero-inner {
        margin: auto auto auto 4.5rem;
    }
    .hero-content h3 {
        margin-bottom: 1.5rem;
        line-height: 1;
        font-size: 2.5rem;
    }    
    .hero-content p {
        line-height: 1.2;
    }
    .btn-hero {
        font-size: .9rem;
        padding: .7rem 1.2rem;
    }       
    .btn-hero-secondary {
        font-size: .9rem;
        padding: .7rem 1.2rem;        
        margin-left: 0.6rem;
    }
    /* MAIN */
    .destacados {
        font-size: 2.2rem;
        padding: 1rem;
    }
    .productos {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .producto {
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-basis: 30%;
        margin-bottom: 0;
    }
}
/* ---------------- DESKTOP SETTINGS ---------------- */
@media all and (min-width: 1025px) {
    .landing-page .logo {
        width: 15%;
    }
    .landing-page h2 { 
        font-size: 2rem;
        width: 30%;
        text-align: center;
        margin-bottom: 6rem;
    }    
    /* NAV */
    .nav-toggle-label {
        display: none;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 5rem;
    }
    nav {        
        all: unset;
    }
    nav ul {
        margin: 0;
    }
    nav li {
        display: inline-block;
    }
    nav li.hide {
        display: none;
    }
    nav a {
        opacity: 1;
        transition: color 0.3s ease-in-out;
    }
    nav a:hover {
        color: var(--hover);
    }
    header a.btn.hide {
        display: inline-block;
    }
    /* HERO */
    .hero-container {
        width: 100%;
        height: 50vh;
        background-image: url(img/banner-1-mobile.png), linear-gradient(to right, #111 30%, #222 50%, transparent);
        background-color: #666;
        background-blend-mode: overlay;
        background-position: center 70%;
        background-repeat: no-repeat;
        background-size: center;
        display: flex;    
    }
    .hero-inner {
        margin: auto auto auto 10rem;
    }
    .hero-content h3 {
        margin-bottom: 1.5rem;
        line-height: 1;
        font-size: 2.5rem;
    }
    
    .hero-content p {
        line-height: 1.2;
    }
    .btn-hero {
        font-size: .9rem;
        padding: .7rem 1.2rem;
    }       
    .btn-hero-secondary {
        font-size: .9rem;
        padding: .7rem 1.2rem;        
        margin-left: 0.6rem;
    }
    /* MAIN */
    .destacados {
        font-size: 2.5rem;
    }
    .productos {
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    .producto {
        padding: 1.5rem 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-basis: 30%;
        margin-bottom: 0;
    }
}

